.sidebar {
  height: 100%;
  padding: 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
}

.sidebarContent {
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  gap: 0.8rem;
}