# Postgresql db container configuration
POSTGRES_DB=keycloak
POSTGRES_USER=people
POSTGRES_PASSWORD=pass

# App database configuration
DB_HOST=kc_postgresql
DB_NAME=keycloak
DB_USER=people
DB_PASSWORD=pass
DB_PORT=5433
