# Postgresql db container configuration
POSTGRES_DB=people
POSTGRES_USER=dinum
POSTGRES_PASSWORD=pass

# App database configuration
DB_HOST=postgresql
DB_NAME=people
DB_USER=dinum
DB_PASSWORD=pass
DB_PORT=5432
