.responsiveLayoutContainer {
  height: 100dvh;
}

.responsiveLayoutHeader {
  height: var(--header-height);
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--c--theme--spacings--t);
  border-bottom: 1px solid var(--c--theme--colors--greyscale-300);
}




