:root {
  --c--theme--colors--secondary-text: var(--c--theme--colors--greyscale-700);
  --c--theme--colors--secondary-100: #f2f7fc;
  --c--theme--colors--secondary-200: #ebf3fa;
  --c--theme--colors--secondary-300: #e2eef8;
  --c--theme--colors--secondary-400: #ddeaf7;
  --c--theme--colors--secondary-500: #d4e5f5;
  --c--theme--colors--secondary-600: #c1d0df;
  --c--theme--colors--secondary-700: #97a3ae;
  --c--theme--colors--secondary-800: #757e87;
  --c--theme--colors--secondary-900: #596067;
  --c--theme--colors--info-text: var(--c--theme--colors--greyscale-000);
  --c--theme--colors--info-100: #ebf2fc;
  --c--theme--colors--info-200: #8cb5ea;
  --c--theme--colors--info-300: #5894e1;
  --c--theme--colors--info-400: #377fdb;
  --c--theme--colors--info-500: #055fd2;
  --c--theme--colors--info-600: #0556bf;
  --c--theme--colors--info-700: #044395;
  --c--theme--colors--info-800: #033474;
  --c--theme--colors--info-900: #022858;
  --c--theme--colors--greyscale-100: #fafafb;
  --c--theme--colors--greyscale-200: #f3f4f4;
  --c--theme--colors--greyscale-300: #e7e8ea;
  --c--theme--colors--greyscale-400: #c2c6ca;
  --c--theme--colors--greyscale-500: #9ea3aa;
  --c--theme--colors--greyscale-600: #79818a;
  --c--theme--colors--greyscale-700: #555f6b;
  --c--theme--colors--greyscale-800: #303c4b;
  --c--theme--colors--greyscale-900: #0c1a2b;
  --c--theme--colors--greyscale-000: #fff;
  --c--theme--colors--primary-100: #edf5fa;
  --c--theme--colors--primary-200: #8cb5ea;
  --c--theme--colors--primary-300: #5894e1;
  --c--theme--colors--primary-400: #377fdb;
  --c--theme--colors--primary-500: #055fd2;
  --c--theme--colors--primary-600: #0556bf;
  --c--theme--colors--primary-700: #044395;
  --c--theme--colors--primary-800: #033474;
  --c--theme--colors--primary-900: #022858;
  --c--theme--colors--success-100: #effcd3;
  --c--theme--colors--success-200: #dbfaa9;
  --c--theme--colors--success-300: #bef27c;
  --c--theme--colors--success-400: #a0e659;
  --c--theme--colors--success-500: #76d628;
  --c--theme--colors--success-600: #5ab81d;
  --c--theme--colors--success-700: #419a14;
  --c--theme--colors--success-800: #2c7c0c;
  --c--theme--colors--success-900: #1d6607;
  --c--theme--colors--warning-100: #fff8cd;
  --c--theme--colors--warning-200: #ffef9b;
  --c--theme--colors--warning-300: #ffe469;
  --c--theme--colors--warning-400: #ffda43;
  --c--theme--colors--warning-500: #ffc805;
  --c--theme--colors--warning-600: #dba603;
  --c--theme--colors--warning-700: #b78702;
  --c--theme--colors--warning-800: #936901;
  --c--theme--colors--warning-900: #7a5400;
  --c--theme--colors--danger-100: #f4b0b0;
  --c--theme--colors--danger-200: #ee8a8a;
  --c--theme--colors--danger-300: #e65454;
  --c--theme--colors--danger-400: #e13333;
  --c--theme--colors--danger-500: #da0000;
  --c--theme--colors--danger-600: #c60000;
  --c--theme--colors--danger-700: #9b0000;
  --c--theme--colors--danger-800: #780000;
  --c--theme--colors--danger-900: #5c0000;
  --c--theme--colors--primary-text: var(--c--theme--colors--greyscale-000);
  --c--theme--colors--success-text: var(--c--theme--colors--greyscale-000);
  --c--theme--colors--warning-text: var(--c--theme--colors--greyscale-000);
  --c--theme--colors--danger-text: var(--c--theme--colors--greyscale-000);
  --c--theme--colors--card-border: #ddd;
  --c--theme--colors--primary-bg: #fafafa;
  --c--theme--colors--primary-150: #e5eefa;
  --c--theme--colors--info-150: #e5eefa;
  --c--theme--font--sizes--h1: 2.2rem;
  --c--theme--font--sizes--h2: 1.7rem;
  --c--theme--font--sizes--h3: 1.37rem;
  --c--theme--font--sizes--h4: 1.15rem;
  --c--theme--font--sizes--h5: 1rem;
  --c--theme--font--sizes--h6: 0.87rem;
  --c--theme--font--sizes--l: 1rem;
  --c--theme--font--sizes--m: 0.8125rem;
  --c--theme--font--sizes--s: 0.75rem;
  --c--theme--font--sizes--ml: 0.938rem;
  --c--theme--font--sizes--xl: 1.5rem;
  --c--theme--font--sizes--t: 0.6875rem;
  --c--theme--font--weights--thin: 100;
  --c--theme--font--weights--light: 300;
  --c--theme--font--weights--regular: 400;
  --c--theme--font--weights--medium: 500;
  --c--theme--font--weights--bold: 600;
  --c--theme--font--weights--extrabold: 800;
  --c--theme--font--weights--black: 900;
  --c--theme--font--families--base: 'Roboto Flex Variable', sans-serif;
  --c--theme--font--families--accent: 'Roboto Flex Variable', sans-serif;
  --c--theme--font--letterspacings--h1: normal;
  --c--theme--font--letterspacings--h2: normal;
  --c--theme--font--letterspacings--h3: normal;
  --c--theme--font--letterspacings--h4: normal;
  --c--theme--font--letterspacings--h5: 1px;
  --c--theme--font--letterspacings--h6: normal;
  --c--theme--font--letterspacings--l: normal;
  --c--theme--font--letterspacings--m: normal;
  --c--theme--font--letterspacings--s: normal;
  --c--theme--spacings--0: 0;
  --c--theme--spacings--xl: 4rem;
  --c--theme--spacings--l: 3rem;
  --c--theme--spacings--b: 1.625rem;
  --c--theme--spacings--s: 1rem;
  --c--theme--spacings--t: 0.5rem;
  --c--theme--spacings--st: 0.25rem;
  --c--theme--spacings--none: 0;
  --c--theme--spacings--auto: auto;
  --c--theme--spacings--bx: 2.2rem;
  --c--theme--spacings--full: 100%;
  --c--theme--transitions--ease-in: cubic-bezier(0.32, 0, 0.67, 0);
  --c--theme--transitions--ease-out: cubic-bezier(0.33, 1, 0.68, 1);
  --c--theme--transitions--ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);
  --c--theme--transitions--duration: 250ms;
  --c--theme--breakpoints--xs: 480px;
  --c--theme--breakpoints--sm: 576px;
  --c--theme--breakpoints--md: 768px;
  --c--theme--breakpoints--lg: 992px;
  --c--theme--breakpoints--xl: 1200px;
  --c--theme--breakpoints--xxl: 1400px;
  --c--theme--breakpoints--xxs: 320px;
  --c--components--datagrid--header--weight: var(
    --c--theme--font--weights--extrabold
  );
  --c--components--datagrid--header--size: var(--c--theme--font--sizes--ml);
  --c--components--datagrid--cell--color: var(--c--theme--colors--primary-500);
  --c--components--datagrid--cell--size: var(--c--theme--font--sizes--ml);
  --c--components--forms-checkbox--background-color--hover: #055fd214;
  --c--components--forms-checkbox--color: var(--c--theme--colors--primary-500);
  --c--components--forms-checkbox--font-size: var(--c--theme--font--sizes--ml);
  --c--components--forms-datepicker--border-color: var(
    --c--theme--colors--primary-500
  );
  --c--components--forms-datepicker--value-color: var(
    --c--theme--colors--primary-500
  );
  --c--components--forms-datepicker--border-radius--hover: var(
    --c--components--forms-datepicker--border-radius
  );
  --c--components--forms-datepicker--border-radius--focus: var(
    --c--components--forms-datepicker--border-radius
  );
  --c--components--forms-field--color: var(--c--theme--colors--primary-500);
  --c--components--forms-field--value-color: var(
    --c--theme--colors--primary-500
  );
  --c--components--forms-field--width: auto;
  --c--components--forms-input--value-color: var(
    --c--theme--colors--primary-500
  );
  --c--components--forms-input--border-color: var(
    --c--theme--colors--primary-500
  );
  --c--components--forms-input--color--error: var(
    --c--theme--colors--danger-500
  );
  --c--components--forms-input--color--error-hover: var(
    --c--theme--colors--danger-500
  );
  --c--components--forms-input--color--box-shadow-error-hover: var(
    --c--theme--colors--danger-500
  );
  --c--components--forms-labelledbox--label-color--small: var(
    --c--theme--colors--primary-500
  );
  --c--components--forms-labelledbox--label-color--small-disabled: var(
    --c--theme--colors--greyscale-400
  );
  --c--components--forms-labelledbox--label-color--big--disabled: var(
    --c--theme--colors--greyscale-400
  );
  --c--components--forms-select--border-color: var(
    --c--theme--colors--primary-500
  );
  --c--components--forms-select--border-color-disabled-hover: var(
    --c--theme--colors--greyscale-200
  );
  --c--components--forms-select--border-radius--hover: var(
    --c--components--forms-select--border-radius
  );
  --c--components--forms-select--border-radius--focus: var(
    --c--components--forms-select--border-radius
  );
  --c--components--forms-select--font-size: var(--c--theme--font--sizes--ml);
  --c--components--forms-select--menu-background-color: #fff;
  --c--components--forms-select--item-background-color--hover: var(
    --c--theme--colors--primary-300
  );
  --c--components--forms-switch--accent-color: var(
    --c--theme--colors--primary-400
  );
  --c--components--forms-textarea--border-color: var(
    --c--components--forms-textarea--border-color
  );
  --c--components--forms-textarea--border-color-hover: var(
    --c--components--forms-textarea--border-color
  );
  --c--components--forms-textarea--border-radius--hover: var(
    --c--components--forms-textarea--border-radius
  );
  --c--components--forms-textarea--border-radius--focus: var(
    --c--components--forms-textarea--border-radius
  );
  --c--components--forms-textarea--color: var(--c--theme--colors--primary-500);
  --c--components--forms-textarea--disabled--border-color-hover: var(
    --c--theme--colors--greyscale-200
  );
  --c--components--modal--background-color: #fff;
  --c--components--button--border-radius--active: var(
    --c--components--button--border-radius
  );
  --c--components--button--medium-height: auto;
  --c--components--button--small-height: auto;
  --c--components--button--success--color: white;
  --c--components--button--success--color-disabled: white;
  --c--components--button--success--color-hover: white;
  --c--components--button--success--background--color: var(
    --c--theme--colors--success-600
  );
  --c--components--button--success--background--color-disabled: var(
    --c--theme--colors--greyscale-300
  );
  --c--components--button--success--background--color-hover: var(
    --c--theme--colors--success-800
  );
  --c--components--button--danger--color-hover: white;
  --c--components--button--danger--background--color: var(
    --c--theme--colors--danger-400
  );
  --c--components--button--danger--background--color-hover: var(
    --c--theme--colors--danger-500
  );
  --c--components--button--danger--background--color-disabled: var(
    --c--theme--colors--danger-100
  );
  --c--components--button--primary--color: var(
    --c--theme--colors--primary-text
  );
  --c--components--button--primary--color-active: var(
    --c--theme--colors--primary-text
  );
  --c--components--button--primary--background--color: var(
    --c--theme--colors--primary-400
  );
  --c--components--button--primary--background--color-active: var(
    --c--theme--colors--primary-500
  );
  --c--components--button--primary--border--color-active: transparent;
  --c--components--button--secondary--color: var(
    --c--theme--colors--primary-500
  );
  --c--components--button--secondary--color-hover: var(
    --c--theme--colors--primary-text
  );
  --c--components--button--secondary--background--color: white;
  --c--components--button--secondary--background--color-hover: var(
    --c--theme--colors--primary-700
  );
  --c--components--button--secondary--border--color: var(
    --c--theme--colors--primary-200
  );
  --c--components--button--tertiary--color: var(
    --c--theme--colors--primary-text
  );
  --c--components--button--tertiary--color-disabled: var(
    --c--theme--colors--greyscale-600
  );
  --c--components--button--tertiary--background--color-hover: var(
    --c--theme--colors--primary-100
  );
  --c--components--button--tertiary--background--color-disabled: var(
    --c--theme--colors--greyscale-200
  );
  --c--components--button--disabled--color: white;
  --c--components--button--disabled--background--color: #b3cef0;
}

.cunningham-theme--dark {
  --c--theme--colors--greyscale-100: #182536;
  --c--theme--colors--greyscale-200: #303c4b;
  --c--theme--colors--greyscale-300: #555f6b;
  --c--theme--colors--greyscale-400: #79818a;
  --c--theme--colors--greyscale-500: #9ea3aa;
  --c--theme--colors--greyscale-600: #c2c6ca;
  --c--theme--colors--greyscale-700: #e7e8ea;
  --c--theme--colors--greyscale-800: #f3f4f4;
  --c--theme--colors--greyscale-900: #fafafb;
  --c--theme--colors--greyscale-000: #0c1a2b;
  --c--theme--colors--primary-100: #3b4c62;
  --c--theme--colors--primary-200: #4d6481;
  --c--theme--colors--primary-300: #6381a6;
  --c--theme--colors--primary-400: #7fa5d5;
  --c--theme--colors--primary-500: #8cb5ea;
  --c--theme--colors--primary-600: #a3c4ee;
  --c--theme--colors--primary-700: #c3d8f4;
  --c--theme--colors--primary-800: #dde9f8;
  --c--theme--colors--primary-900: #f4f8fd;
  --c--theme--colors--success-100: #eef8d7;
  --c--theme--colors--success-200: #d9f1b2;
  --c--theme--colors--success-300: #bde985;
  --c--theme--colors--success-400: #a0e25d;
  --c--theme--colors--success-500: #76d628;
  --c--theme--colors--success-600: #5bb520;
  --c--theme--colors--success-700: #43941a;
  --c--theme--colors--success-800: #307414;
  --c--theme--colors--success-900: #225d10;
  --c--theme--colors--warning-100: #f7f3d5;
  --c--theme--colors--warning-200: #f0e5aa;
  --c--theme--colors--warning-300: #e8d680;
  --c--theme--colors--warning-400: #e3c95f;
  --c--theme--colors--warning-500: #d9b32b;
  --c--theme--colors--warning-600: #bd9721;
  --c--theme--colors--warning-700: #9d7b1c;
  --c--theme--colors--warning-800: #7e6016;
  --c--theme--colors--warning-900: #684d12;
  --c--theme--colors--danger-100: #f8d0d0;
  --c--theme--colors--danger-200: #f09898;
  --c--theme--colors--danger-300: #f09898;
  --c--theme--colors--danger-400: #ed8585;
  --c--theme--colors--danger-500: #e96666;
  --c--theme--colors--danger-600: #d66;
  --c--theme--colors--danger-700: #c36666;
  --c--theme--colors--danger-800: #ae6666;
  --c--theme--colors--danger-900: #9d6666;
}

.cunningham-theme--dsfr {
  --c--theme--colors--card-border: #ddd;
  --c--theme--colors--primary-text: #000091;
  --c--theme--colors--primary-100: #f5f5fe;
  --c--theme--colors--primary-200: #ececfe;
  --c--theme--colors--primary-300: #e3e3fd;
  --c--theme--colors--primary-400: #cacafb;
  --c--theme--colors--primary-500: #6a6af4;
  --c--theme--colors--primary-600: #000091;
  --c--theme--colors--primary-700: #272747;
  --c--theme--colors--primary-800: #21213f;
  --c--theme--colors--primary-900: #1c1a36;
  --c--theme--colors--secondary-text: #fff;
  --c--theme--colors--secondary-100: #fee9ea;
  --c--theme--colors--secondary-200: #fedfdf;
  --c--theme--colors--secondary-300: #fdbfbf;
  --c--theme--colors--secondary-400: #e1020f;
  --c--theme--colors--secondary-500: #c91a1f;
  --c--theme--colors--secondary-600: #5e2b2b;
  --c--theme--colors--secondary-700: #3b2424;
  --c--theme--colors--secondary-800: #341f1f;
  --c--theme--colors--secondary-900: #2b1919;
  --c--theme--colors--greyscale-text: #303c4b;
  --c--theme--colors--greyscale-000: #f6f6f6;
  --c--theme--colors--greyscale-100: #eee;
  --c--theme--colors--greyscale-200: #e5e5e5;
  --c--theme--colors--greyscale-300: #e1e1e1;
  --c--theme--colors--greyscale-400: #ddd;
  --c--theme--colors--greyscale-500: #cecece;
  --c--theme--colors--greyscale-600: #7b7b7b;
  --c--theme--colors--greyscale-700: #666;
  --c--theme--colors--greyscale-800: #2a2a2a;
  --c--theme--colors--greyscale-900: #1e1e1e;
  --c--theme--colors--success-text: #1f8d49;
  --c--theme--colors--success-100: #dffee6;
  --c--theme--colors--success-200: #b8fec9;
  --c--theme--colors--success-300: #88fdaa;
  --c--theme--colors--success-400: #3bea7e;
  --c--theme--colors--success-500: #1f8d49;
  --c--theme--colors--success-600: #18753c;
  --c--theme--colors--success-700: #204129;
  --c--theme--colors--success-800: #1e2e22;
  --c--theme--colors--success-900: #19281d;
  --c--theme--colors--info-text: #0078f3;
  --c--theme--colors--info-100: #f4f6ff;
  --c--theme--colors--info-200: #e8edff;
  --c--theme--colors--info-300: #dde5ff;
  --c--theme--colors--info-400: #bdcdff;
  --c--theme--colors--info-500: #0078f3;
  --c--theme--colors--info-600: #0063cb;
  --c--theme--colors--info-700: #f4f6ff;
  --c--theme--colors--info-800: #222a3f;
  --c--theme--colors--info-900: #1d2437;
  --c--theme--colors--warning-text: #d64d00;
  --c--theme--colors--warning-100: #fff4f3;
  --c--theme--colors--warning-200: #ffe9e6;
  --c--theme--colors--warning-300: #ffded9;
  --c--theme--colors--warning-400: #ffbeb4;
  --c--theme--colors--warning-500: #d64d00;
  --c--theme--colors--warning-600: #b34000;
  --c--theme--colors--warning-700: #5e2c21;
  --c--theme--colors--warning-800: #3e241e;
  --c--theme--colors--warning-900: #361e19;
  --c--theme--colors--danger-text: #e1000f;
  --c--theme--colors--danger-100: #fef4f4;
  --c--theme--colors--danger-200: #fee9e9;
  --c--theme--colors--danger-300: #fddede;
  --c--theme--colors--danger-400: #fcbfbf;
  --c--theme--colors--danger-500: #e1000f;
  --c--theme--colors--danger-600: #c9191e;
  --c--theme--colors--danger-700: #642727;
  --c--theme--colors--danger-800: #412121;
  --c--theme--colors--danger-900: #3a1c1c;
  --c--theme--font--families--accent: marianne;
  --c--theme--font--families--base: marianne;
  --c--components--alert--border-radius: 0;
  --c--components--button--medium-height: 48px;
  --c--components--button--border-radius: 4px;
  --c--components--button--primary--background--color: var(
    --c--theme--colors--primary-text
  );
  --c--components--button--primary--background--color-hover: #1212ff;
  --c--components--button--primary--background--color-active: #2323ff;
  --c--components--button--primary--color: #fff;
  --c--components--button--primary--color-hover: #fff;
  --c--components--button--primary--color-active: #fff;
  --c--components--button--primary-text--background--color-hover: var(
    --c--theme--colors--primary-100
  );
  --c--components--button--primary-text--background--color-active: var(
    --c--theme--colors--primary-100
  );
  --c--components--button--primary-text--color-hover: var(
    --c--theme--colors--primary-text
  );
  --c--components--button--secondary--background--color-hover: #f6f6f6;
  --c--components--button--secondary--background--color-active: #ededed;
  --c--components--button--secondary--border--color: var(
    --c--theme--colors--primary-600
  );
  --c--components--button--secondary--border--color-hover: var(
    --c--theme--colors--primary-600
  );
  --c--components--button--secondary--color: var(
    --c--theme--colors--primary-text
  );
  --c--components--button--tertiary-text--background--color-hover: var(
    --c--theme--colors--primary-100
  );
  --c--components--button--tertiary-text--color-hover: var(
    --c--theme--colors--primary-text
  );
  --c--components--datagrid--header--color: var(
    --c--theme--colors--primary-text
  );
  --c--components--datagrid--header--size: var(--c--theme--font--sizes--s);
  --c--components--datagrid--body--background-color: transparent;
  --c--components--datagrid--body--background-color-hover: #f4f4fd;
  --c--components--datagrid--pagination--background-color: transparent;
  --c--components--datagrid--pagination--background-color-active: var(
    --c--theme--colors--primary-300
  );
  --c--components--forms-checkbox--border-radius: 0;
  --c--components--forms-checkbox--color: var(--c--theme--colors--primary-text);
  --c--components--forms-datepicker--border-radius: 0;
  --c--components--forms-fileuploader--border-radius: 0;
  --c--components--forms-field--color: var(--c--theme--colors--primary-text);
  --c--components--forms-input--border-radius: 4px;
  --c--components--forms-input--background-color: #fff;
  --c--components--forms-input--border-color: var(
    --c--theme--colors--primary-text
  );
  --c--components--forms-input--box-shadow-color: var(
    --c--theme--colors--primary-text
  );
  --c--components--forms-input--value-color: var(
    --c--theme--colors--primary-text
  );
  --c--components--forms-labelledbox--label-color--big: var(
    --c--theme--colors--primary-text
  );
  --c--components--forms-select--border-radius: 4px;
  --c--components--forms-select--border-radius-hover: 4px;
  --c--components--forms-select--background-color: #fff;
  --c--components--forms-select--border-color: var(
    --c--theme--colors--primary-text
  );
  --c--components--forms-select--border-color-hover: var(
    --c--theme--colors--primary-text
  );
  --c--components--forms-select--box-shadow-color: var(
    --c--theme--colors--primary-text
  );
  --c--components--forms-switch--handle-border-radius: 2px;
  --c--components--forms-switch--rail-border-radius: 4px;
  --c--components--forms-textarea--border-radius: 0;
}

.clr-secondary-text {
  color: var(--c--theme--colors--secondary-text);
}

.clr-secondary-100 {
  color: var(--c--theme--colors--secondary-100);
}

.clr-secondary-200 {
  color: var(--c--theme--colors--secondary-200);
}

.clr-secondary-300 {
  color: var(--c--theme--colors--secondary-300);
}

.clr-secondary-400 {
  color: var(--c--theme--colors--secondary-400);
}

.clr-secondary-500 {
  color: var(--c--theme--colors--secondary-500);
}

.clr-secondary-600 {
  color: var(--c--theme--colors--secondary-600);
}

.clr-secondary-700 {
  color: var(--c--theme--colors--secondary-700);
}

.clr-secondary-800 {
  color: var(--c--theme--colors--secondary-800);
}

.clr-secondary-900 {
  color: var(--c--theme--colors--secondary-900);
}

.clr-info-text {
  color: var(--c--theme--colors--info-text);
}

.clr-info-100 {
  color: var(--c--theme--colors--info-100);
}

.clr-info-200 {
  color: var(--c--theme--colors--info-200);
}

.clr-info-300 {
  color: var(--c--theme--colors--info-300);
}

.clr-info-400 {
  color: var(--c--theme--colors--info-400);
}

.clr-info-500 {
  color: var(--c--theme--colors--info-500);
}

.clr-info-600 {
  color: var(--c--theme--colors--info-600);
}

.clr-info-700 {
  color: var(--c--theme--colors--info-700);
}

.clr-info-800 {
  color: var(--c--theme--colors--info-800);
}

.clr-info-900 {
  color: var(--c--theme--colors--info-900);
}

.clr-greyscale-100 {
  color: var(--c--theme--colors--greyscale-100);
}

.clr-greyscale-200 {
  color: var(--c--theme--colors--greyscale-200);
}

.clr-greyscale-300 {
  color: var(--c--theme--colors--greyscale-300);
}

.clr-greyscale-400 {
  color: var(--c--theme--colors--greyscale-400);
}

.clr-greyscale-500 {
  color: var(--c--theme--colors--greyscale-500);
}

.clr-greyscale-600 {
  color: var(--c--theme--colors--greyscale-600);
}

.clr-greyscale-700 {
  color: var(--c--theme--colors--greyscale-700);
}

.clr-greyscale-800 {
  color: var(--c--theme--colors--greyscale-800);
}

.clr-greyscale-900 {
  color: var(--c--theme--colors--greyscale-900);
}

.clr-greyscale-000 {
  color: var(--c--theme--colors--greyscale-000);
}

.clr-primary-100 {
  color: var(--c--theme--colors--primary-100);
}

.clr-primary-200 {
  color: var(--c--theme--colors--primary-200);
}

.clr-primary-300 {
  color: var(--c--theme--colors--primary-300);
}

.clr-primary-400 {
  color: var(--c--theme--colors--primary-400);
}

.clr-primary-500 {
  color: var(--c--theme--colors--primary-500);
}

.clr-primary-600 {
  color: var(--c--theme--colors--primary-600);
}

.clr-primary-700 {
  color: var(--c--theme--colors--primary-700);
}

.clr-primary-800 {
  color: var(--c--theme--colors--primary-800);
}

.clr-primary-900 {
  color: var(--c--theme--colors--primary-900);
}

.clr-success-100 {
  color: var(--c--theme--colors--success-100);
}

.clr-success-200 {
  color: var(--c--theme--colors--success-200);
}

.clr-success-300 {
  color: var(--c--theme--colors--success-300);
}

.clr-success-400 {
  color: var(--c--theme--colors--success-400);
}

.clr-success-500 {
  color: var(--c--theme--colors--success-500);
}

.clr-success-600 {
  color: var(--c--theme--colors--success-600);
}

.clr-success-700 {
  color: var(--c--theme--colors--success-700);
}

.clr-success-800 {
  color: var(--c--theme--colors--success-800);
}

.clr-success-900 {
  color: var(--c--theme--colors--success-900);
}

.clr-warning-100 {
  color: var(--c--theme--colors--warning-100);
}

.clr-warning-200 {
  color: var(--c--theme--colors--warning-200);
}

.clr-warning-300 {
  color: var(--c--theme--colors--warning-300);
}

.clr-warning-400 {
  color: var(--c--theme--colors--warning-400);
}

.clr-warning-500 {
  color: var(--c--theme--colors--warning-500);
}

.clr-warning-600 {
  color: var(--c--theme--colors--warning-600);
}

.clr-warning-700 {
  color: var(--c--theme--colors--warning-700);
}

.clr-warning-800 {
  color: var(--c--theme--colors--warning-800);
}

.clr-warning-900 {
  color: var(--c--theme--colors--warning-900);
}

.clr-danger-100 {
  color: var(--c--theme--colors--danger-100);
}

.clr-danger-200 {
  color: var(--c--theme--colors--danger-200);
}

.clr-danger-300 {
  color: var(--c--theme--colors--danger-300);
}

.clr-danger-400 {
  color: var(--c--theme--colors--danger-400);
}

.clr-danger-500 {
  color: var(--c--theme--colors--danger-500);
}

.clr-danger-600 {
  color: var(--c--theme--colors--danger-600);
}

.clr-danger-700 {
  color: var(--c--theme--colors--danger-700);
}

.clr-danger-800 {
  color: var(--c--theme--colors--danger-800);
}

.clr-danger-900 {
  color: var(--c--theme--colors--danger-900);
}

.clr-primary-text {
  color: var(--c--theme--colors--primary-text);
}

.clr-success-text {
  color: var(--c--theme--colors--success-text);
}

.clr-warning-text {
  color: var(--c--theme--colors--warning-text);
}

.clr-danger-text {
  color: var(--c--theme--colors--danger-text);
}

.clr-card-border {
  color: var(--c--theme--colors--card-border);
}

.clr-primary-bg {
  color: var(--c--theme--colors--primary-bg);
}

.clr-primary-150 {
  color: var(--c--theme--colors--primary-150);
}

.clr-info-150 {
  color: var(--c--theme--colors--info-150);
}

.bg-secondary-text {
  background-color: var(--c--theme--colors--secondary-text);
}

.bg-secondary-100 {
  background-color: var(--c--theme--colors--secondary-100);
}

.bg-secondary-200 {
  background-color: var(--c--theme--colors--secondary-200);
}

.bg-secondary-300 {
  background-color: var(--c--theme--colors--secondary-300);
}

.bg-secondary-400 {
  background-color: var(--c--theme--colors--secondary-400);
}

.bg-secondary-500 {
  background-color: var(--c--theme--colors--secondary-500);
}

.bg-secondary-600 {
  background-color: var(--c--theme--colors--secondary-600);
}

.bg-secondary-700 {
  background-color: var(--c--theme--colors--secondary-700);
}

.bg-secondary-800 {
  background-color: var(--c--theme--colors--secondary-800);
}

.bg-secondary-900 {
  background-color: var(--c--theme--colors--secondary-900);
}

.bg-info-text {
  background-color: var(--c--theme--colors--info-text);
}

.bg-info-100 {
  background-color: var(--c--theme--colors--info-100);
}

.bg-info-200 {
  background-color: var(--c--theme--colors--info-200);
}

.bg-info-300 {
  background-color: var(--c--theme--colors--info-300);
}

.bg-info-400 {
  background-color: var(--c--theme--colors--info-400);
}

.bg-info-500 {
  background-color: var(--c--theme--colors--info-500);
}

.bg-info-600 {
  background-color: var(--c--theme--colors--info-600);
}

.bg-info-700 {
  background-color: var(--c--theme--colors--info-700);
}

.bg-info-800 {
  background-color: var(--c--theme--colors--info-800);
}

.bg-info-900 {
  background-color: var(--c--theme--colors--info-900);
}

.bg-greyscale-100 {
  background-color: var(--c--theme--colors--greyscale-100);
}

.bg-greyscale-200 {
  background-color: var(--c--theme--colors--greyscale-200);
}

.bg-greyscale-300 {
  background-color: var(--c--theme--colors--greyscale-300);
}

.bg-greyscale-400 {
  background-color: var(--c--theme--colors--greyscale-400);
}

.bg-greyscale-500 {
  background-color: var(--c--theme--colors--greyscale-500);
}

.bg-greyscale-600 {
  background-color: var(--c--theme--colors--greyscale-600);
}

.bg-greyscale-700 {
  background-color: var(--c--theme--colors--greyscale-700);
}

.bg-greyscale-800 {
  background-color: var(--c--theme--colors--greyscale-800);
}

.bg-greyscale-900 {
  background-color: var(--c--theme--colors--greyscale-900);
}

.bg-greyscale-000 {
  background-color: var(--c--theme--colors--greyscale-000);
}

.bg-primary-100 {
  background-color: var(--c--theme--colors--primary-100);
}

.bg-primary-200 {
  background-color: var(--c--theme--colors--primary-200);
}

.bg-primary-300 {
  background-color: var(--c--theme--colors--primary-300);
}

.bg-primary-400 {
  background-color: var(--c--theme--colors--primary-400);
}

.bg-primary-500 {
  background-color: var(--c--theme--colors--primary-500);
}

.bg-primary-600 {
  background-color: var(--c--theme--colors--primary-600);
}

.bg-primary-700 {
  background-color: var(--c--theme--colors--primary-700);
}

.bg-primary-800 {
  background-color: var(--c--theme--colors--primary-800);
}

.bg-primary-900 {
  background-color: var(--c--theme--colors--primary-900);
}

.bg-success-100 {
  background-color: var(--c--theme--colors--success-100);
}

.bg-success-200 {
  background-color: var(--c--theme--colors--success-200);
}

.bg-success-300 {
  background-color: var(--c--theme--colors--success-300);
}

.bg-success-400 {
  background-color: var(--c--theme--colors--success-400);
}

.bg-success-500 {
  background-color: var(--c--theme--colors--success-500);
}

.bg-success-600 {
  background-color: var(--c--theme--colors--success-600);
}

.bg-success-700 {
  background-color: var(--c--theme--colors--success-700);
}

.bg-success-800 {
  background-color: var(--c--theme--colors--success-800);
}

.bg-success-900 {
  background-color: var(--c--theme--colors--success-900);
}

.bg-warning-100 {
  background-color: var(--c--theme--colors--warning-100);
}

.bg-warning-200 {
  background-color: var(--c--theme--colors--warning-200);
}

.bg-warning-300 {
  background-color: var(--c--theme--colors--warning-300);
}

.bg-warning-400 {
  background-color: var(--c--theme--colors--warning-400);
}

.bg-warning-500 {
  background-color: var(--c--theme--colors--warning-500);
}

.bg-warning-600 {
  background-color: var(--c--theme--colors--warning-600);
}

.bg-warning-700 {
  background-color: var(--c--theme--colors--warning-700);
}

.bg-warning-800 {
  background-color: var(--c--theme--colors--warning-800);
}

.bg-warning-900 {
  background-color: var(--c--theme--colors--warning-900);
}

.bg-danger-100 {
  background-color: var(--c--theme--colors--danger-100);
}

.bg-danger-200 {
  background-color: var(--c--theme--colors--danger-200);
}

.bg-danger-300 {
  background-color: var(--c--theme--colors--danger-300);
}

.bg-danger-400 {
  background-color: var(--c--theme--colors--danger-400);
}

.bg-danger-500 {
  background-color: var(--c--theme--colors--danger-500);
}

.bg-danger-600 {
  background-color: var(--c--theme--colors--danger-600);
}

.bg-danger-700 {
  background-color: var(--c--theme--colors--danger-700);
}

.bg-danger-800 {
  background-color: var(--c--theme--colors--danger-800);
}

.bg-danger-900 {
  background-color: var(--c--theme--colors--danger-900);
}

.bg-primary-text {
  background-color: var(--c--theme--colors--primary-text);
}

.bg-success-text {
  background-color: var(--c--theme--colors--success-text);
}

.bg-warning-text {
  background-color: var(--c--theme--colors--warning-text);
}

.bg-danger-text {
  background-color: var(--c--theme--colors--danger-text);
}

.bg-card-border {
  background-color: var(--c--theme--colors--card-border);
}

.bg-primary-bg {
  background-color: var(--c--theme--colors--primary-bg);
}

.bg-primary-150 {
  background-color: var(--c--theme--colors--primary-150);
}

.bg-info-150 {
  background-color: var(--c--theme--colors--info-150);
}

.fw-thin {
  font-weight: var(--c--theme--font--weights--thin);
}

.fw-light {
  font-weight: var(--c--theme--font--weights--light);
}

.fw-regular {
  font-weight: var(--c--theme--font--weights--regular);
}

.fw-medium {
  font-weight: var(--c--theme--font--weights--medium);
}

.fw-bold {
  font-weight: var(--c--theme--font--weights--bold);
}

.fw-extrabold {
  font-weight: var(--c--theme--font--weights--extrabold);
}

.fw-black {
  font-weight: var(--c--theme--font--weights--black);
}

.fs-h1 {
  font-size: var(--c--theme--font--sizes--h1);
  letter-spacing: var(--c--theme--font--letterspacings--h1);
}

.fs-h2 {
  font-size: var(--c--theme--font--sizes--h2);
  letter-spacing: var(--c--theme--font--letterspacings--h2);
}

.fs-h3 {
  font-size: var(--c--theme--font--sizes--h3);
  letter-spacing: var(--c--theme--font--letterspacings--h3);
}

.fs-h4 {
  font-size: var(--c--theme--font--sizes--h4);
  letter-spacing: var(--c--theme--font--letterspacings--h4);
}

.fs-h5 {
  font-size: var(--c--theme--font--sizes--h5);
  letter-spacing: var(--c--theme--font--letterspacings--h5);
}

.fs-h6 {
  font-size: var(--c--theme--font--sizes--h6);
  letter-spacing: var(--c--theme--font--letterspacings--h6);
}

.fs-l {
  font-size: var(--c--theme--font--sizes--l);
  letter-spacing: var(--c--theme--font--letterspacings--l);
}

.fs-m {
  font-size: var(--c--theme--font--sizes--m);
  letter-spacing: var(--c--theme--font--letterspacings--m);
}

.fs-s {
  font-size: var(--c--theme--font--sizes--s);
  letter-spacing: var(--c--theme--font--letterspacings--s);
}

.fs-ml {
  font-size: var(--c--theme--font--sizes--ml);
  letter-spacing: var(--c--theme--font--letterspacings--ml);
}

.fs-xl {
  font-size: var(--c--theme--font--sizes--xl);
  letter-spacing: var(--c--theme--font--letterspacings--xl);
}

.fs-t {
  font-size: var(--c--theme--font--sizes--t);
  letter-spacing: var(--c--theme--font--letterspacings--t);
}

.f-base {
  font-family: var(--c--theme--font--families--base);
}

.f-accent {
  font-family: var(--c--theme--font--families--accent);
}

.m-0 {
  margin: var(--c--theme--spacings--0);
}

.mb-0 {
  margin-bottom: var(--c--theme--spacings--0);
}

.mt-0 {
  margin-top: var(--c--theme--spacings--0);
}

.ml-0 {
  margin-left: var(--c--theme--spacings--0);
}

.mr-0 {
  margin-right: var(--c--theme--spacings--0);
}

.m-xl {
  margin: var(--c--theme--spacings--xl);
}

.mb-xl {
  margin-bottom: var(--c--theme--spacings--xl);
}

.mt-xl {
  margin-top: var(--c--theme--spacings--xl);
}

.ml-xl {
  margin-left: var(--c--theme--spacings--xl);
}

.mr-xl {
  margin-right: var(--c--theme--spacings--xl);
}

.m-l {
  margin: var(--c--theme--spacings--l);
}

.mb-l {
  margin-bottom: var(--c--theme--spacings--l);
}

.mt-l {
  margin-top: var(--c--theme--spacings--l);
}

.ml-l {
  margin-left: var(--c--theme--spacings--l);
}

.mr-l {
  margin-right: var(--c--theme--spacings--l);
}

.m-b {
  margin: var(--c--theme--spacings--b);
}

.mb-b {
  margin-bottom: var(--c--theme--spacings--b);
}

.mt-b {
  margin-top: var(--c--theme--spacings--b);
}

.ml-b {
  margin-left: var(--c--theme--spacings--b);
}

.mr-b {
  margin-right: var(--c--theme--spacings--b);
}

.m-s {
  margin: var(--c--theme--spacings--s);
}

.mb-s {
  margin-bottom: var(--c--theme--spacings--s);
}

.mt-s {
  margin-top: var(--c--theme--spacings--s);
}

.ml-s {
  margin-left: var(--c--theme--spacings--s);
}

.mr-s {
  margin-right: var(--c--theme--spacings--s);
}

.m-t {
  margin: var(--c--theme--spacings--t);
}

.mb-t {
  margin-bottom: var(--c--theme--spacings--t);
}

.mt-t {
  margin-top: var(--c--theme--spacings--t);
}

.ml-t {
  margin-left: var(--c--theme--spacings--t);
}

.mr-t {
  margin-right: var(--c--theme--spacings--t);
}

.m-st {
  margin: var(--c--theme--spacings--st);
}

.mb-st {
  margin-bottom: var(--c--theme--spacings--st);
}

.mt-st {
  margin-top: var(--c--theme--spacings--st);
}

.ml-st {
  margin-left: var(--c--theme--spacings--st);
}

.mr-st {
  margin-right: var(--c--theme--spacings--st);
}

.m-none {
  margin: var(--c--theme--spacings--none);
}

.mb-none {
  margin-bottom: var(--c--theme--spacings--none);
}

.mt-none {
  margin-top: var(--c--theme--spacings--none);
}

.ml-none {
  margin-left: var(--c--theme--spacings--none);
}

.mr-none {
  margin-right: var(--c--theme--spacings--none);
}

.m-auto {
  margin: var(--c--theme--spacings--auto);
}

.mb-auto {
  margin-bottom: var(--c--theme--spacings--auto);
}

.mt-auto {
  margin-top: var(--c--theme--spacings--auto);
}

.ml-auto {
  margin-left: var(--c--theme--spacings--auto);
}

.mr-auto {
  margin-right: var(--c--theme--spacings--auto);
}

.m-bx {
  margin: var(--c--theme--spacings--bx);
}

.mb-bx {
  margin-bottom: var(--c--theme--spacings--bx);
}

.mt-bx {
  margin-top: var(--c--theme--spacings--bx);
}

.ml-bx {
  margin-left: var(--c--theme--spacings--bx);
}

.mr-bx {
  margin-right: var(--c--theme--spacings--bx);
}

.m-full {
  margin: var(--c--theme--spacings--full);
}

.mb-full {
  margin-bottom: var(--c--theme--spacings--full);
}

.mt-full {
  margin-top: var(--c--theme--spacings--full);
}

.ml-full {
  margin-left: var(--c--theme--spacings--full);
}

.mr-full {
  margin-right: var(--c--theme--spacings--full);
}

.p-0 {
  padding: var(--c--theme--spacings--0);
}

.pb-0 {
  padding-bottom: var(--c--theme--spacings--0);
}

.pt-0 {
  padding-top: var(--c--theme--spacings--0);
}

.pl-0 {
  padding-left: var(--c--theme--spacings--0);
}

.pr-0 {
  padding-right: var(--c--theme--spacings--0);
}

.p-xl {
  padding: var(--c--theme--spacings--xl);
}

.pb-xl {
  padding-bottom: var(--c--theme--spacings--xl);
}

.pt-xl {
  padding-top: var(--c--theme--spacings--xl);
}

.pl-xl {
  padding-left: var(--c--theme--spacings--xl);
}

.pr-xl {
  padding-right: var(--c--theme--spacings--xl);
}

.p-l {
  padding: var(--c--theme--spacings--l);
}

.pb-l {
  padding-bottom: var(--c--theme--spacings--l);
}

.pt-l {
  padding-top: var(--c--theme--spacings--l);
}

.pl-l {
  padding-left: var(--c--theme--spacings--l);
}

.pr-l {
  padding-right: var(--c--theme--spacings--l);
}

.p-b {
  padding: var(--c--theme--spacings--b);
}

.pb-b {
  padding-bottom: var(--c--theme--spacings--b);
}

.pt-b {
  padding-top: var(--c--theme--spacings--b);
}

.pl-b {
  padding-left: var(--c--theme--spacings--b);
}

.pr-b {
  padding-right: var(--c--theme--spacings--b);
}

.p-s {
  padding: var(--c--theme--spacings--s);
}

.pb-s {
  padding-bottom: var(--c--theme--spacings--s);
}

.pt-s {
  padding-top: var(--c--theme--spacings--s);
}

.pl-s {
  padding-left: var(--c--theme--spacings--s);
}

.pr-s {
  padding-right: var(--c--theme--spacings--s);
}

.p-t {
  padding: var(--c--theme--spacings--t);
}

.pb-t {
  padding-bottom: var(--c--theme--spacings--t);
}

.pt-t {
  padding-top: var(--c--theme--spacings--t);
}

.pl-t {
  padding-left: var(--c--theme--spacings--t);
}

.pr-t {
  padding-right: var(--c--theme--spacings--t);
}

.p-st {
  padding: var(--c--theme--spacings--st);
}

.pb-st {
  padding-bottom: var(--c--theme--spacings--st);
}

.pt-st {
  padding-top: var(--c--theme--spacings--st);
}

.pl-st {
  padding-left: var(--c--theme--spacings--st);
}

.pr-st {
  padding-right: var(--c--theme--spacings--st);
}

.p-none {
  padding: var(--c--theme--spacings--none);
}

.pb-none {
  padding-bottom: var(--c--theme--spacings--none);
}

.pt-none {
  padding-top: var(--c--theme--spacings--none);
}

.pl-none {
  padding-left: var(--c--theme--spacings--none);
}

.pr-none {
  padding-right: var(--c--theme--spacings--none);
}

.p-auto {
  padding: var(--c--theme--spacings--auto);
}

.pb-auto {
  padding-bottom: var(--c--theme--spacings--auto);
}

.pt-auto {
  padding-top: var(--c--theme--spacings--auto);
}

.pl-auto {
  padding-left: var(--c--theme--spacings--auto);
}

.pr-auto {
  padding-right: var(--c--theme--spacings--auto);
}

.p-bx {
  padding: var(--c--theme--spacings--bx);
}

.pb-bx {
  padding-bottom: var(--c--theme--spacings--bx);
}

.pt-bx {
  padding-top: var(--c--theme--spacings--bx);
}

.pl-bx {
  padding-left: var(--c--theme--spacings--bx);
}

.pr-bx {
  padding-right: var(--c--theme--spacings--bx);
}

.p-full {
  padding: var(--c--theme--spacings--full);
}

.pb-full {
  padding-bottom: var(--c--theme--spacings--full);
}

.pt-full {
  padding-top: var(--c--theme--spacings--full);
}

.pl-full {
  padding-left: var(--c--theme--spacings--full);
}

.pr-full {
  padding-right: var(--c--theme--spacings--full);
}
